
.titulo:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.estudios:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.ocio:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.leng:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.mat:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.fyq:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.educa:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.tecind:hover {
  background-color: rgba(255, 255, 255,1);
  color:black;
}
.tic:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.filo:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.dt:hover {
  background-color: rgba(255, 255, 255,1);
  color:black;
}
.ingl:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.dise:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.revista:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.videos:hover {
	background-color: rgba(255, 255, 255, 1);
	color:black;
}
.dia:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.msg:hover {
  background-color: rgba(255, 255, 255, 1);
  color:black;
}
.bienvenido:hover {
  background-color: rgba(255, 255, 255, 01);
  color:black;
}
.vistas:hover {
  background-color: rgba(255, 255, 255, 1);
  
}
